.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* src/App.css */
.App-header {
  text-align: center;    /* Centers the title */
  margin-top: 20px;      /* Adds space from the top */
}

.game-board-container {
  margin-top: 30px; /* Adjust space between title and game board */
}

h1 {
  margin: 0;  /* Remove default margins for better centering */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
